This is a Jupyter Notebook that shows examples of all the functions in the maccorcyclingdata package.

In [1]:
import maccorcyclingdata.testdata as testdata
import maccorcyclingdata.schedules as schedules
import maccorcyclingdata.validate as validate
import importlib

In [2]:
df = testdata.import_maccor_data('example_data/', 'testdata.csv')
df.head(5)

,cyc,step,test_time_s,step_time_s,capacity_mah,current_ma,voltage_mv,dpt_time,thermocouple_temp_c,ev_temp
0,0,1,0.0,0d 00:00:00.00,0.0,0.0,3708.8,0,32.73,0.0
1,0,1,60.0,0d 00:01:00.00,0.0,0.0,3709.2,1,32.70,0.0
2,0,1,120.0,0d 00:02:00.00,0.0,0.0,3709.5,1,32.67,0.0
3,0,1,180.0,0d 00:03:00.00,0.0,0.0,3709.1,1,32.71,0.0
4,0,1,240.0,0d 00:04:00.00,0.0,0.0,3709.5,1,32.67,0.0

In [3]:
mult_df = testdata.import_multiple_csv_data('example_data/multiple_csv/')
mult_df.head(5)

,cyc,step,test_time_s,step_time_s,capacity_mah,current_ma,voltage_mv,dpt_time,thermocouple_temp_c,ev_temp
0,0,1,0.0,0d 00:00:00.00,0.0,0.0,3708.8,0,32.73,0
1,0,1,60.0,0d 00:01:00.00,0.0,0.0,3709.2,1,32.70,0
2,0,1,120.0,0d 00:02:00.00,0.0,0.0,3709.5,1,32.67,0
3,0,1,180.0,0d 00:03:00.00,0.0,0.0,3709.1,1,32.71,0
4,0,1,240.0,0d 00:04:00.00,0.0,0.0,3709.5,1,32.67,0

In [4]:
cycles = testdata.get_num_cycles(df)
print("The number of cycles in testdata.csv: " + str(cycles))

The number of cycles in testdata.csv: 40

In [5]:
data = testdata.get_cycle_data(df, ['current_ma', 'voltage_mv'], [1, 39], [11, 13])
data.head(5)

   cyc  step  current_ma  voltage_mv
0    1    11   1501.7929      2585.6
1    1    11   1499.8856      2923.2
2    1    11   1499.8856      3004.1
3    1    11   1499.9619      3055.4
4    1    11   1500.1144      3095.2

In [6]:
del_df = testdata.delete_cycle_steps(df, [1, 2])
del_df.head(5)

,cyc,step,test_time_s,step_time_s,capacity_mah,current_ma,voltage_mv,dpt_time,thermocouple_temp_c,ev_temp
0,0,5,21117.06,0d 00:00:00.02,0.0069,749.2180,2836.0,0,29.61,0.0
1,0,5,21122.06,0d 00:00:05.02,1.0485,749.9046,3020.1,1,29.54,0.0
2,0,5,21127.06,0d 00:00:10.02,2.0901,750.0572,3074.9,1,29.47,0.0
3,0,5,21132.06,0d 00:00:15.02,3.1317,749.9046,3112.2,1,29.57,0.0
4,0,5,21137.06,0d 00:00:20.02,4.1733,749.9809,3140.7,1,29.66,0.0

In [7]:
print(len(df))
print(len(del_df))

65529
64604

In [8]:
del_df_shifted = testdata.delete_cycle_steps(df, [1,2], True)
del_df_shifted.head(5)

,cyc,step,test_time_s,step_time_s,capacity_mah,current_ma,voltage_mv,dpt_time,thermocouple_temp_c,ev_temp
0,0,1,21117.06,0d 00:00:00.02,0.0069,749.2180,2836.0,0,29.61,0.0
1,0,1,21122.06,0d 00:00:05.02,1.0485,749.9046,3020.1,1,29.54,0.0
2,0,1,21127.06,0d 00:00:10.02,2.0901,750.0572,3074.9,1,29.47,0.0
3,0,1,21132.06,0d 00:00:15.02,3.1317,749.9046,3112.2,1,29.57,0.0
4,0,1,21137.06,0d 00:00:20.02,4.1733,749.9809,3140.7,1,29.66,0.0

In [9]:
print(len(del_df_shifted))

64604

In [10]:
schedule_df = schedules.import_schedules('example_data/','schedule.csv')
schedule_df

,step,step_type,step_mode,step_mode_value,step_limit,step_limit_value,step_end_type,step_end_type_op,step_end_type_value,goto_step,report_type,report_type_value,options,step_note
0,1,Rest,NaN,NaN,NaN,NaN,Step Time,=,05:00:00,2,Step Time,00:01:00,4NNN,NaN
1,2,Discharge,Current,0.75,Voltage,2.5,Voltage,<=,2.5,3,Step Time,00:00:05,4NNN,NaN
2,3,Do1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Rest,NaN,NaN,NaN,NaN,"[Step Time, Voltage]","[=, <=]","[00:00:05, 1.5]","[5.0, 24.0]",No Report,NaN,ANNN,NaN
4,5,Charge,Current,0.75,Voltage,4.2,Current,<=,0.15,6,Step Time,00:00:05,4NNN,NaN
5,6,Rest,NaN,NaN,NaN,NaN,"[Step Time, Voltage]","[=, >=]","[00:00:01, 4.5]","[7.0, 24.0]",No Report,NaN,4NNN,NaN
6,7,Discharge,Current,0.75,Voltage,2.5,Voltage,<=,2.5,8,Step Time,00:00:05,4NNN,NaN
7,8,Rest,NaN,NaN,NaN,NaN,Step Time,=,00:00:05,9,NaN,NaN,4NNN,NaN
8,9,Loop1,NaN,NaN,NaN,NaN,Loop Count,=,5,10,NaN,NaN,NaN,NaN
9,10,Do2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Charge,Current,1.50,Voltage,4.2,"[Current, Step Time]","[<=, =]","[0.15, 01:00:00]","[12.0, 12.0]",Step Time,00:00:05,4NNN,NaN
11,12,Rest,NaN,NaN,NaN,NaN,"[Step Time, Voltage]","[=, >=]","[00:00:05, 4.5]","[13.0, 24.0]",No Report,NaN,4NNN,NaN
12,13,Discharge,Current,3.00,Voltage,2.5,Step Time,=,00:45:00,14,Step Time,00:00:05,4NNN,NaN
13,14,Rest,NaN,NaN,NaN,NaN,Step Time,=,00:00:05,15,NaN,NaN,ANNN,NaN
14,15,Advance Cycle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,Loop2,NaN,NaN,NaN,NaN,Loop Count,=,900,17,NaN,NaN,NaN,NaN
16,17,Rest,NaN,NaN,NaN,NaN,Step Time,=,00:00:30,18,NaN,NaN,4NNN,NaN
17,18,Do3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,Charge,Current,0.50,Voltage,4.2,Current,<=,0.15,20,Step Time,00:00:30,ANNN,NaN
19,20,Rest,NaN,NaN,NaN,NaN,"[Step Time, Voltage]","[=, >=]","[00:00:05, 4.5]","[21.0, 24.0]",NaN,NaN,ANNN,NaN
20,21,Discharge,Current,0.50,Voltage,2.5,Voltage,<=,2.5,22,Step Time,00:00:30,ANNN,NaN
21,22,Rest,NaN,NaN,NaN,NaN,"[Step Time, Voltage]","[=, <=]","[00:00:05, 1.5]","[23.0, 24.0]",NaN,NaN,ANNN,NaN
22,23,Loop3,NaN,NaN,NaN,NaN,Loop Count,=,3,24,NaN,NaN,NaN,NaN
23,24,End,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
importlib.reload(schedules)
importlib.reload(validate)
validation_df = validate.validate_test_data(schedule_df, df, 108, 60, 20, 50, 5)
validation_df

KeyboardInterrupt: